<h2>Edit</h2>

<%= form_with(model: @post,local: true) do |form| %>
  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>