<h1>Eatit</h1>

<div class="table-responsive">
  <table class= "table table-hover">
    <tr>
      <th></th>
      <th><h3>Check out all this 100% Grade A User Generated Content!</h3></th>
      <th>Posted</th>
      <th></th>
    </tr>
  
    <% @posts.each do |post| %>
      <tr>
        <td><%= pluralize(post.votes.count, "vote") %></td>
        <td>
          <p><%= link_to post.title, post_path(post) %></p>
          <p><%= post.content %></p>
          <p><%= post.created_at%></p>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "New Post", new_post_path%>