<div class="row">
  <div class="col-md-12">
    <div class="banner">
    </div>
    <h1 class="app-title">Eatit - A reddit for meats <%= link_to "Create a Meaty Post", new_post_path, :class => "btn btn-outline-primary" %></h1>
  </div>
</div>
<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-12">
      <div class="card" style="width: 90%;">
        <div class="card-body">
          <%= pluralize(post.votes.count, "vote") %> | <%= pluralize(post.downvotes.count, "downvote") %>
          <h5 class="card-title"><%= link_to post.title, post_path(post)%> | Created at: <%= post.created_at %></h5>
          <p class="card-text"><%= post.content %></p>
          <%= link_to "Read Full Post", post_path(post), :class => "btn btn-outline-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
