<div class="row">
  <div class="col-md-12">
    <div class="banner">
    </div>
      <h1 class="app-title"><%= @post.title %> <%= link_to "Edit Post", edit_post_path, :class => "btn btn-outline-primary" %> <%= link_to 'Delete Post', post_path(@post),
      method: :delete, :class => "btn btn-outline-danger" %></h1>
      <div class="card" style="width: 90%;">
          <div class="card-body">
            <%= pluralize(@post.votes.count, "vote") %> |
            <%= pluralize(@post.downvotes.count, "downvote") %>
            <p class="card-text"><%= @post.content %></p>
            <%= link_to '+1', upvote_post_path(@post), method: :post, :class => "btn btn-outline-success" %></li>
            <%= link_to '+1', downvote_post_path(@post), method: :post, :class => "btn btn-outline-danger" %></li>
          </div>
          <%= render @post.comments %>
      </div>
  </div>
  <h3>Leave a Comment</h3>
  <%= render 'comments/newcomment', :comment => @comment %>
</div>



