<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
  <%= form.hidden_field :post_id %>
  <p>
  <%= form.hidden_field :commenter, value: current_user.username %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  </p>
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>