<!DOCTYPE html>
<html>
  <head>
    <title>Eatit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Sunflower:300" rel="stylesheet">
  </head>

  <body>
    <% if current_user %>
      <div style="text-align: right">
        Logged in as <%= current_user %>
        <%= link_to "Log out", logout_url, :class => "btn btn-outline-info" %>
        <%= link_to "Edit Profile", edit_user_path(current_user.id), :class => "btn btn-outline-info" %>
        <%= link_to "My Posts", user_path(current_user.id), :class => "btn btn-outline-info" %>
        <%= link_to "Home", posts_path, :class => "btn btn-outline-info" %>
      </div>
    <% else %>
      <div style="text-align: right">
        <%= link_to 'Log In', new_login_path, :class => "btn btn-outline-success" %>
        <%= link_to 'Registration Page', new_user_path, :class => "btn btn-outline-primary" %>
      </div>
    <% end %>

    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: flash_classes(name) %>
    <% end -%>
    
      <%= yield %>
  </body>
</html>